/* button design*/
#button{
    width: 25vw;
    height: 2vh;
    display: flex;
    justify-content: space-between;
    margin: 2vw;
    bottom: 5vh;
    position: relative;
    right: 31vw;
}
#button-left-white{
    width:3vw ;
    height: 3vh;
    border-radius: 20%;
    background-color: white;
}
#circlewhitebutton{
    width: 1vw;
    height: 3vh;
    border-radius: 50%;
    opacity: 0.2;
    background-color: rgb(180, 180, 114);
}
#button-right-blue{
    width:3vw ;
    height: 3vh;
    border-radius: 20%;
    background-color:white;
    display: flex;
    justify-content: flex-end;
}
#circlebluebutton{
    width: 1vw;
    height: 3vh;
    border-radius: 50%;
    background-color: rgba(8, 127, 206, 0.472);
}
