/* button design*/
#button{
    width: 10vw;
    height: 2vh;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    position: relative;
    left: -33vw;
}
#button-left-white{
    width:10vw ;
    height: 2vh;
    border-radius: 20%;
    background-color: white;
}
#circlewhitebutton{
    width: 4vw;
    height: 2vh;
    border-radius: 50%;
    background-color: green;
}

#button-right-blue{
    width:9vw ;
    height: 2vh;
    border-radius: 20%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
}

#circlebluebutton{
    width: 4vw;
    height: 2vh;
    border-radius: 50%;
    background-color: rgba(8, 127, 206, 0.472);
}