/*section id=topcenter*/
#topcenter{
    width: 35vw;
    height: 30vh;
    background-color:white ;
    margin: 1vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circleblue{
width: 10vw;
height: 10vh;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(8, 127, 206, 0.472);
position: relative;
}
#trianglewhite{
	border-top: 2vw solid transparent;
	border-left: 50px solid white;
	border-bottom: 2vw solid transparent;
    position: relative;
} 