/*section id=topright*/
.rectanglewhite{
    width: 20vw;
    height: 4vh;
    background-color:white ;
    margin: 1vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}